doctype html
html(lang="ja")
  head
    title= pageTitle
    script(type="text/javascript").
      var isNative = function() {
        return true;
      };
    script var ASSETS = !{assets};
    script(type='text/javascript') !{script}
  body
    canvas#world
